---
layout: splash

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/EN091214_fireball.jpg
  actions:
    - label: "About"
      url: "/about/"
excerpt: "A staff member at Sandia National Laboratories in Albuquerque, NM."
intro: 
  - excerpt: "Current Research Interests"

feature_row:
  - image_path: assets/images/vorticity_cropped.png
    alt: "Reduced Order Modeling"
    title: "Reduced Order Modeling"
    excerpt: "Application of projection-based reduced-order modeling techniques to challenging multiscale multiphysics simulations <br><br> Model reduction algorithm and methods development <br><br> Nonlinear manifold learning techniques"
    url: "/research/#reduced-order-modeling"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/wave_cropped.png
    alt: "Uncertainty Quantification"
    title: "Uncertainty Quantification"
    excerpt: "Uncertainty propagation in large-scale networks <br><br> Stochastic partial differential equations"
    url: "/research/#uncertainty-quantification"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ablation_cropped.png
    alt: "Computational Heat Transfer"
    title: "Computational Heat Transfer"
    excerpt: "Large-scale high-fidelity simulations of complex engineered systems <br><br> Numerical methods <br><br> Multiphysics coupling <br><br> Eulerian and Lagrangian methods for multiphase flows"
    url: "/research/#computational-heat-transfer"
    btn_label: "Read More"
    btn_class: "btn--primary"
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}
